$primary-text-color     : #e7e8eb;
$secondary-text-color   : rgba(white, 0.54);

$hint-text-color        : rgba(white, 0.38);
$disabled-text-color    : rgba(white, 0.38);

$divider-color          : rgba(white, 0.12);

$primary-bg-color : #2d2d2d;
$secondary-bg-color: #393939;

$ui-input-label-color--hover: rgba(white, 0.38);

$ui-input-border-color: rgba(white, 0.54);
$ui-input-border-color--hover: rgba(white, 0.38);

$ui-input-button-color: rgba(white, 0.54);
$ui-input-button-color--hover: rgba(white, 0.38);

